@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

@layer components {
    /* globals.css */

    .text-base {
      @apply font-sans text-lg leading-relaxed text-orange-800;
    }

    .text-heading {
      color: #FF7500;
      font-family: 'Cinzel Decorative';
    }

    .text-accent {
      @apply text-indigo-500;
    }

    .card {
      background-color: #1B2110;
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
      height: 100%;
      /* color: theme('colors.black'); */
      align-content: center;
    }

    .active {
      background-color: theme('colors.gray-dark');
      box-shadow: inset;
    }

    .site-container {
      position: relative;
      background-color: #374220;
      max-width: 100%;
    }

    #main-nav {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: transparent;
    }

    .inner-container {
      position: relative;
    }

    .footer {
      background-color: black;
      color: white;
    }
  
  }