@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/fonts/CinzelDecorative-Regular.ttf");
@import url("/fonts/Poppins-Regular.ttf");


@layer components {
    /* globals.css */

    @font-face {
      font-family: 'Cinzel Decorative';
      src: url('/fonts/CinzelDecorative-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Poppins';
      src: url('/fonts/Poppins-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    
    /*The class for nav text */
    .text-nav-heading {
      color: #FF7500;
      font-family: 'Cinzel Decorative', serif;
    }

    /* The class for all Titles(h1,h2,h3) in the website */
    .text-heading {
      font-family: 'Cinzel Decorative', serif;
    }
    
    /* The class to make the text have poppins font */
    .text-text {
      font-family: 'Poppins', serif;
    }


    /* The card for all the recepts shown on the recepten page */
    .card {
      background-color: #1B2110;
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
      /* color: theme('colors.black'); */
      align-content: center;
      font-family: 'Poppins', serif;
    }
    
    /* Just like it says this is the footer component class */
    .footer {
      background-color: black;
      color: white;
    }
    
    /* makes text not overflow so the item its in doesn't grow out of size*/
    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px; /* Adjust the maximum width as needed */
    }
  }