@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/fonts/CinzelDecorative-Regular.ttf");
@import url("/fonts/Poppins-Regular.ttf");


@layer components {
    /* globals.css */

    @font-face {
      font-family: 'Cinzel Decorative';
      src: url('/fonts/CinzelDecorative-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Poppins';
      src: url('/fonts/Poppins-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    
    .text-nav-heading {
      color: #FF7500;
      font-family: 'Cinzel Decorative', serif;
    }

    .text-heading {
      font-family: 'Cinzel Decorative', serif;
    }

    .card {
      background-color: #1B2110;
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
      /* color: theme('colors.black'); */
      align-content: center;
      font-family: 'Poppins', serif;
    }

    .active {
      background-color: theme('colors.gray-dark');
      box-shadow: inset;
    }

    .footer {
      background-color: black;
      color: white;
    }
  
  }